* {
  margin: 0;
  text-decoration: none;
  list-style: none;
  overflow-x: hidden; }

#page {
  display: flex; }

.aside-bar {
  text-align: center;
  font-family: 'Bellota', cursive;
  width: 25%;
  height: auto;
  background: linear-gradient(#1A237E, #3F51B5);
  color: white; }
  .aside-bar img {
    width: 150px; }
  .aside-bar h1 {
    font-size: 1.8em;
    margin-top: 30px;
    font-family: 'Charmonman', cursive;
    text-shadow: 0 3px #5C6BC0; }
  .aside-bar ul {
    padding: 0;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: left;
    margin-left: 30px;
    display: flex;
    flex-direction: column; }
    .aside-bar ul li {
      margin-top: 20px;
      margin-bottom: 10px; }
      .aside-bar ul li a {
        color: white;
        font-size: 1.2em;
        display: flex;
        align-items: center; }
      .aside-bar ul li .menu, .aside-bar ul li .starter, .aside-bar ul li .plat, .aside-bar ul li .dessert, .aside-bar ul li .boisson {
        width: 40px;
        padding: 5px;
        filter: invert(1);
        border-radius: 100em;
        border: 1px black dashed;
        margin-right: 10px; }
      .aside-bar ul li .menu {
        filter: drop-shadow(30px 0px 20px red) invert(1); }
  .aside-bar .watermill {
    color: white;
    font-size: 1.5em;
    display: inline-block;
    margin-bottom: 40px;
    font-family: 'Charmonman', cursive; }

.main {
  background: linear-gradient(#303F9F, #5C6BC0);
  color: white;
  width: 100%; }
  .main header .panier {
    position: fixed;
    right: 0;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 0% 80% 0% 100%/0% 0% 100% 100%;
    background-color: #1A237E;
    width: 100px;
    height: 70px;
    opacity: 0.6; }
    .main header .panier img {
      width: 50px;
      filter: invert(1);
      right: 10px;
      position: fixed; }
    .main header .panier p {
      text-align: center;
      color: white;
      font-family: 'Bellota', cursive;
      font-size: 1.2em;
      padding-top: 20px;
      padding-left: 30px; }
  .main header .serveur {
    position: fixed;
    bottom: 0;
    right: 0;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-radius: 100% 0% 0% 100%/100% 0% 100% 0%;
    background-color: #1A237E;
    width: 100px;
    height: 70px;
    opacity: 0.6; }
    .main header .serveur p {
      text-align: center;
      color: white;
      font-family: 'Bellota', cursive;
      font-size: 1.2em;
      padding-top: 30px;
      padding-left: 10px; }
  .main .title-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%; }
    .main .title-btn h2 {
      font-size: 4em;
      font-family: 'Charmonman', cursive; }
    .main .title-btn .retour img {
      width: 30px;
      filter: invert(1);
      border: black 1px solid;
      padding: 5px;
      border-radius: 10em; }
  .main .choix {
    display: flex;
    margin-left: 40px; }
    .main .choix .txt {
      font-family: 'Bellota', cursive;
      color: white;
      font-size: 1.4em;
      width: 40%;
      text-align: center; }
    .main .choix .border {
      border-bottom: white 1px solid;
      width: 50%;
      margin-bottom: 10px;
      opacity: 0.3; }
  .main .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 88%;
    margin-left: 40px;
    margin-top: 50px; }
    .main .menu article {
      font-family: 'Bellota', cursive;
      color: white;
      border: 1px solid white;
      width: 250px;
      height: 250px;
      text-align: center;
      border-radius: 5px;
      box-shadow: 0 0 10px #1A237E; }
      .main .menu article img {
        width: 250px;
        border-radius: 0% 80% 0% 100%/84% 0% 100% 22%; }
      .main .menu article .prix {
        position: absolute;
        width: 60px;
        height: 30px;
        background-color: red;
        border-radius: 5px 0 10px 0; }
      .main .menu article .definition {
        display: none;
        width: 100%;
        height: 100%; }
      .main .menu article :target {
        display: block; }
        .main .menu article :target article {
          height: 500px; }

/*# sourceMappingURL=style.css.map */
